h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
  color: darkblue;   
  text-align: center;
}

hr {
  border: none;          
  border-top: 2px solid #333;  
  margin: 20px 0;
}

.food-box {
  text-align: center;          
  background-color: #86caf4;   
  border: 2px solid #48d6de;   
  border-radius: 10px;         
  padding: 50px;              
  margin: 20px;           
  width: 60% auto;   
}

body {
  background-color: lightblue;
}

.email-link {
  color: darkblue;       
  font-weight: bold;     
  text-decoration: none; 
}

.email-link:hover {
  color: rgb(64, 81, 212);         
  text-decoration: underline; 
}

h3 {
  color: #2F4F4F;  /* Dark Slate Gray */
  font-weight: bold;
}